body {
  font-family: "Kanit";
}

/* Start coding here */
.container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  color: white;
  position: relative;
}

img {
  width: 700px;
  height: 400px;
  z-index: 1;
}

.ads-details {
  width: 700px;
  height: 400px;
  background: linear-gradient(180deg, transparent, black);

  display: flex;
  align-items: end;

  z-index: 2;
  position: absolute;
  bottom: 1px;
}

.locations {
  background-color: hsla(215, 6%, 60%, 0.952);
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 40px;

  font-size: 24px;

  z-index: 3;
  position: absolute;
  bottom: 300px;
  left: 610px;
}
